* {
    color: #ffffff;
}

body {
    font-family: sans-serif;
    background-color: #004c8c;
    margin: 1em auto;
    max-width: 1000px;
    min-width: 800px;
}

div.content {
    padding: 1em;
    background-color: #0277bd;
    border: 2px solid #58a5f0;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #58a5f0;
    border: none;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #004c8c;
    border-radius: 5px;
    margin-left: 1em;
}

input[type="text"] {
    background-color: #58a5f0;
    border: 1px solid #004c8c;
    padding: 0.5em 1em;
}

label {
    margin-right: 1em;
}
