{% extends 'layout.jinja2' %}

{% block content %}

<h2>Noten</h2>

<ul>
{% for subject in subject_grades %}
    <li>{{ subject }}
        <ul>
            {% for grade in subject_grades[subject] %}
            <li>{{ grade }}</li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}
