{% extends 'layout.jinja2' %}

{% block content %}

<h2>Noten</h2>

<ul>
{% for subject in subject_grades %}
    {% set average = average_by_subject[subject] %}
    {% if average < 4 %}
        {% set style = 'bad' %}
    {% elif average < 5 %}
        {% set style = 'ok' %}
    {% else %}
        {% set style = 'good' %}
    {% endif %}
    <li>[⌀ <span class="{{ style }}">{{ average_by_subject[subject] }}</span>] {{ subject }}
        <ul>
            {% for grade in subject_grades[subject] %}
            {% if grade < 4 %}
                {% set style = 'bad' %}
            {% elif grade < 5 %}
                {% set style = 'ok' %}
            {% else %}
                {% set style = 'good' %}
            {% endif %}
            <li><span class="{{ style }}">{{ grade }}</li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
{% if average_overall %}
    <li>[⌀ {{ "%.2f"|format(average_overall) }}] Total</li>
{% endif %}
</ul>

{% if deficiency_points > 0 %}
    {% if deficiency_points > 1.5 %}
        {% set style = 'bad' %}
    {% else %}
        {% set style = 'ok' %}
    {% endif %}
    <p>Mangelpunkte: <span class="{{ style }}">{{ deficiency_points }}</span></p>
{% endif %}

<h2>Note hinzufügen</h2>

<form method="POST" action="/{{ pupil_name }}/add_grade">
    <label for="subject">Fach: </label>
    <select id="subject" name="subject">
        {% for subject in subjects %}
            <option value="{{ subject.id }}">{{ subject.name }}</option>
        {% endfor %}
    </select>
    <label for="grade">Note: </label>
    <input id="grade" name="grade" type="text">
    <input type="submit" value="Hinzufügen">
</form>

{% endblock %}
